@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&family=Poppins:ital@0;1&display=swap');
/* 
    Main Headers:
        font-family: 'Alegreya', serif;
        font-family: 'Poppins', sans-serif;
*/

@media only screen and (min-width: 540px) {
    .team-btn {
        width: 78% !important;
    }
}

@media only screen and (min-width: 768px) {
    .header-info {
        display: inline-block !important;
    }

    .about-parallax {
        /* Set a specific height */
        min-height: 400px !important;
    }


    #intro-text {
        margin-top: 22% !important;
    }

    #about-us,
    #the-team {
        top: 0px !important;
    }

    .team-img {
        position: relative;
        margin-left: 50px !important;

    }

}

@media only screen and (min-width: 992px) {
    #open-times {
        left: 0%;
    }

    #header-insta {
        top: -5% !important;
    }

    .nav-link {
        position: relative;
        top: 20px;
        padding-bottom: 34px;
    }

    .active {
        border-bottom: 4px white solid;
    }

    #intro-text {
        margin-top: 10% !important;
    }

    #team-header {
        background-position-y: -60px !important;
        min-height: 500px !important;
    }

    .team-btn {
        width: 100% !important;
    }

    .team-img {
        position: relative;
        left: 15%;
    }
}

@media only screen and (min-width: 1200px) {
    .team-img {
        left: 0%;
        top: 0px;
    }
}


:root {
    --rich-black: #040F0F;
    --light-black: #2f3030;
    --red-wood: #9D695A;
    --paynes-gray: #57737A;
    --light-grey: #0CABA8;
    --mint-cream: #E1EBE3;
    --champagne-pink: #EADBD6;
}

body {
    background-color: var(--mint-cream) !important;
}

h1, h2, h3 {
    font-family: 'Alegreya', serif;
}

h4, h5, h6 {
    font-family: 'Alegreya', serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

.header-info {
    background-color: var(--red-wood) !important;
    display: none;
}

.header-info p {
    font-size: 12px;
}

.header-info a {
    text-decoration: none;
    color: white;
}

.header-info a:hover {
    color: var(--rich-black) !important;
    transition: .3s;
}

.navbar-lift {
    background-color: var(--light-black);
    color: white ;
}

.navbar {
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    font-family: 'Junge', serif;
}



.team-btn {
    background-color: var(--red-wood);
    color: var(--mint-cream);
    border: 7px var(--red-wood) solid !important;
    width: 100%;
    height: 50px;
    font-family: 'Poppins', sans-serif !important;
}

.team-btn:hover {
    background-color: var(--red-wood);
    color: var(--rich-black);
    filter: drop-shadow(10px 10px var(--rich-black));
    transition: .4s;
}

.about-parallax {
    /* The image used */
    background-image: url("./images/salon/placeholder.jpg");
  
    /* Set a specific height */
    min-height: 250px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-position-y: -100px;
    background-repeat: no-repeat;
    background-size: cover;
}


#team-header {
    background-image: url('./images/team-imgs/the-team.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0px;
    min-height: 300px;
    /*border-bottom: 15px var(--light-black) solid;*/
}

#intro-text {
    margin-top: 25%;
}

#about-us {
    background-color: var(--mint-cream);
}

tr {
    border-bottom: 1px var(--paynes-gray) solid;
}

td {
    border-left: 1px var(--paynes-gray) solid;
    border-right: 1px var(--paynes-gray) solid;
}


#the-team {
    text-decoration: none;
}

#the-team i {
    text-decoration: none;
    color: black;
}

.team-member-bio {
    background-color: white;
    filter: drop-shadow(10px 10px var(--red-wood));
    overflow: hidden;
    padding: 20px;
}

.team-content {
    margin-top: 10px;
}

.team-img {
    margin: 0 auto;
    border: 10px var(--red-wood) solid;
    filter: drop-shadow(10px 10px var(--rich-black));
}