@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&family=Poppins:ital@0;1&display=swap');
/* 
    Main Headers:
        font-family: 'Alegreya', serif;
        font-family: 'Poppins', sans-serif;
*/

@media only screen and (min-width: 540px) {
    .team-btn {
        width: 78% !important;
    }
}

@media only screen and (min-width: 768px) {
    .header-info {
        display: inline-block !important;
    }

    .about-parallax {
        /* Set a specific height */
        min-height: 400px !important;
    }


    #intro-text {
        margin-top: 22% !important;
    }

    .intro-text {
        margin-top: 0% !important;
        text-align: center;
    }

    #about-us,
    #the-team {
        top: 0px !important;
    }

    .team-img {
        position: relative;
        margin-left: 50px !important;

    }

}

@media only screen and (min-width: 992px) {
    #open-times {
        left: 0%;
    }

    #header-insta {
        top: -5% !important;
    }

    .nav-link {
        position: relative;
        top: 20px;
        padding-bottom: 34px;
    }

    .active {
        border-bottom: 4px white solid;
    }

    #intro-text {
        margin-top: 10% !important;
    }

    #team-header {
        background-position-y: -60px !important;
        min-height: 500px !important;
    }

    .team-btn {
        width: 100% !important;
    }

    .team-img {
        position: relative;
        left: 15%;
    }
}

@media only screen and (min-width: 1200px) {
    .team-img {
        left: 0%;
        top: 0px;
    }
}


:root {
    --rich-black: #040F0F;
    --light-black: #2f3030;
    --red-wood: #9D695A;
    --paynes-gray: #57737A;
    --light-grey: #0CABA8;
    --mint-cream: #E1EBE3;
    --champagne-pink: #EADBD6;
}

.mint-cream-bg {
    background-color: var(--mint-cream) !important;
}

.champagne-pink-bg {
    background-color: var(--champagne-pink) !important;
}

.about-section {
    min-height: 400px;
    margin: 0 auto;
}

body {
    background-color: var(--champagne-pink) !important;
}

h1,
h2,
h3 {
    font-family: 'Alegreya', serif;
    font-weight: 900;
}

h4,
h5,
h6 {
    font-family: 'Alegreya', serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

.header-info {
    background-color: var(--red-wood) !important;
    display: none;
}

.header-info p {
    font-size: 12px;
}

.header-info a {
    text-decoration: none;
    color: white;
}

.header-info a:hover {
    color: var(--rich-black) !important;
    transition: .3s;
}

.navbar-lift {
    background-color: var(--light-black);
    color: white;
}

.navbar {
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    font-family: 'Junge', serif;
}

#footer {
    background-color: var(--light-black);
    min-height: 100px;
    width: 100%;
}

.team-btn {
    background-color: var(--red-wood);
    color: var(--mint-cream);
    border: 7px var(--red-wood) solid !important;
    width: 100%;
    height: 50px;
    font-family: 'Poppins', sans-serif !important;
}

.team-btn:hover {
    background-color: var(--red-wood);
    color: var(--rich-black);
    filter: drop-shadow(10px 10px var(--rich-black));
    transition: .4s;
}

#lobby-img {
    border: 10px var(--rich-black) solid;
    filter: drop-shadow(10px 10px var(--red-wood));
}

#team-header {
    background-image: url('./images/team-imgs/the-team.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0px;
    min-height: 300px;
    /*border-bottom: 15px var(--light-black) solid;*/
}

#intro-text {
    font-size: 40px;
}

.intro-text {
    margin-top: 40%;
    text-align: center;
}

#welcome {
    background-color: rgba(0, 0, 0, 0.612);
}

.about-parallax {
    /* The image used */
    background-image: url("./images/salon/lobby.png");

    /* Set a specific height */
    min-height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about-us {
    background-color: var(--mint-cream);
}

.about-section-text {
    padding-top: 70px;
}

table {
    width: 100%;
    height: 120%;
}

thead {
    background-color: var(--red-wood);
    text-align: center;
}

th {
    border: 3px var(--rich-black) solid;
}

tr {
    border-bottom: 1px var(--paynes-gray) solid;
}

td {
    border-left: 1px var(--paynes-gray) solid;
    border-right: 1px var(--paynes-gray) solid;
    text-align: center;
}

.location {
    width: 100%;
}

#the-team {
    text-decoration: none;
}

#the-team i {
    text-decoration: none;
    color: black;
}

.team-member-bio {
    background-color: white;
    filter: drop-shadow(10px 10px var(--red-wood));
    overflow: hidden;
    padding: 20px;
}

.team-content {
    margin-top: 10px;
}

.team-img {
    margin: 0 auto;
    border: 10px var(--red-wood) solid;
    filter: drop-shadow(10px 10px var(--rich-black));
}

a .bi:hover {
    color: var(--rich-black) !important;
    transition: .5s;
}