@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&family=Poppins:ital@0;1&display=swap');
/* 
    Main Headers:
        font-family: 'Alegreya', serif;
    font-family: 'Poppins', sans-serif;
*/

@media only screen and (min-width: 768px) {
    .header-info {
        visibility: visible !important;
    }

    #nav-bar {
        top: 0px !important;
    }

    .about-parallax {
        /* Set a specific height */
        min-height: 400px !important;
    }

    #intro-header,
    #team-header {
        top: 0px !important;
    }

    #intro-text {
        margin-top: 22% !important;
    }

    #about-us,
    #the-team {
        top: 0px !important;
    }

    .team-img {
        position: relative;
        left: 60px;
        top: 20px;
    }

}

@media only screen and (min-width: 992px) {
    #open-times {
        left: 0%;
    }

    #header-insta {
        top: -5% !important;
    }

    .nav-link {
        position: relative;
        top: 20px;
        padding-bottom: 40px;
    }

    .active {
        border-bottom: 10px white solid;
    }

    #intro-text {
        margin-top: 10% !important;
    }

    #team-header {
        background-position-y: -60px !important;
        min-height: 500px !important;
    }

    .team-img {
        position: relative;
        left: 25%;
        top: 20px;
    }
}

@media only screen and (min-width: 1200px) {
    .team-img {
        left: 0%;
        top: 0px;
    }
}


:root {
    --darkest-grey: #023535;
    --dark-grey: #015958;
    --mid-grey: #008F8C;
    --light-grey: #0CABA8;
    --lightest-grey: #14e1dd;
}

body {
    background-color: var(--lightest-grey);
}

h1, h2, h3 {
    font-family: 'Alegreya', serif;
}

h4, h5, h6 {
    font-family: 'Alegreya', serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

.header-info {
    background-color: var(--darkest-grey);
    visibility: hidden;
}

.header-info p {
    font-size: 12px;
}

.header-info a {
    text-decoration: none;
    color: white;
}

.header-info a:hover {
    color: var(--lightest-grey);
    transition: .3s;
}

#nav-bar {
    position: relative;
    top: -95px;
}

.navbar {
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    font-family: 'Junge', serif;
}

.about-parallax {
    /* The image used */
    background-image: url("./images/salon/placeholder.jpg");
  
    /* Set a specific height */
    min-height: 250px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-position-y: -100px;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro-header,
#team-header {
    position: relative;
    top: -95px;
}

#team-header {
    background-image: url('./images/team-imgs/the-team.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0px;
    min-height: 300px;
}

#intro-text {
    margin-top: 25%;
}

#about-us {
    background-color: var(--light-grey);
    position: relative;
    top: -95px;
}

#the-team {
    position: relative;
    top: -95px;
    text-decoration: none;
}

#the-team i {
    text-decoration: none;
    color: black;
}

.team-member-bio {
    background-color: white;
    filter: drop-shadow(10px 10px var(--dark-grey));
    overflow: hidden;
    padding: 20px;
}

.team-content {
    margin-top: 10px;
}

.team-img {
    margin: 0 auto;
    border: 10px var(--darkest-grey) solid;
}